<div class="cover">
    <div class="center">
        <div class="left">
            <div>
                <h1>Create</h1>
                <h1>Account</h1>
                <p>Embark on a cosmic adventure. Create an account on our space website to explore stunning imagery, captivating articles, and the latest updates on space exploration. Join a vibrant community of space enthusiasts and ignite your passion for the universe. Sign up now and let your exploration of the cosmos begin!</p>
            </div>
        </div>
        <div class="v-line"></div>
        <div class="right">
            <form>
                <label>Name :</label>
                <input type="text" id="name" name="name"  required placeholder="Enter Name">
                
                <label>Email :</label>
                <input type="email" id="email" name="email"  required placeholder="Enter Email ">

                <label>Password :</label>
                <input type="password" id="pass" name="pass" required placeholder="Enter Password">

                <button class="button-71" role="button">Done</button>
                
                
            </form>
        </div>
    </div>
</div>
